.__awards-certificates{
    h1{
        padding-top: 2rem 0;
    }
    .header-text{
        font-family: $font-title;
        font-size: 1.3rem;
    }

    .awards{
        img{
            border-bottom: 1px solid black;
        }
    }
}